<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-light">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="max-width: 600px; width: 100%;">
            <div class="mb-3">
                <input type="text" class="form-control text-center my-3 mx-auto fs-5" id="survey-name" style="height: 50px; width:90%" placeholder="アンケート名を入力してください">
            </div>
            <div id="items-container">
                <div class="mb-3">
                    <input type="text" class="form-control text-center mx-auto" style="width: 80%" placeholder="1. 項目名を入力してください">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control text-center mx-auto" style="width: 80%" placeholder="2. 項目名を入力してください">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control text-center mx-auto" style="width: 80%" placeholder="3. 項目名を入力してください">
                </div>
            </div>
            <div class="d-flex justify-content-center gap-3 my-2">
                <button class="btn btn-primary" id="add-item-btn">項目を追加</button>
                <button class="btn btn-danger" id="delete-item-btn">項目を削除</button>
            </div>
        </div>
    </div>

</body>

</html>
