<head>
  <style>
    .card {
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f9f9f9;
      width: 100%;
      padding: 0;
      aspect-ratio: 1; 
      transition: transform 0.2s ease-in-out;
    }
    
    .card:hover {
      transform: scale(1.05); 
      border-color: #4CAF50; 
    }
  </style>
</head>

<div class="container py-5">
  <div class="row row-cols-lg-5 g-4">
    <% @surveys.each do |survey| %>
      <div class="col">
        <div class="card h-100 text-center" style="cursor: pointer;" onclick="location.href='<%= survey_path(survey) %>';">
          <div class="card-body d-flex justify-content-center align-items-center">
            <h5 class="card-title"><%= survey.title %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
