<div class="container py-5">
  <h1 class="text-center mb-4"><%= @survey.title %></h1>
  <div class="list-group">
    <% @items.each do |item| %>
      <a href="#" class="list-group-item list-group-item-action">
        <%= item.item_name %>
      </a>
    <% end %>
  </div>
</div>